img{
    width: 28%;
    margin: auto;
    margin-top: 10rem;
}

body{
    text-align: center;
}

input{
    width: 25%;
    padding: 5px;
    border: solid 1px rgb(199, 199, 199);
    border-radius: 5px;
}

button{
    margin-top: 13px;
    padding: 5px;
    color: rgb(99, 99, 99);
    border: none;
    border-radius: 5px;
}

